Name={{ item.name }}

[Network]
{% if item.address == 'dhcp' %}
DHCP=yes
{% else %}
Address={{ item.address }}
Gateway={{ item.gateway }}
{% endif %}
{% if item.dns is defined %}
{% for address in item.dns.split(',') %}
DNS={{ address }}
{% endfor %}
{% endif %}
{% if item.domains is defined %}
Domains={{ item.domains }}
{% endif %}
